<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Chat App</title>
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="js.cookie.min.js"></script>
    <script defer src="script.js"></script>
    <link rel="stylesheet" href="bulma.min.css" />
    <style>
      html {
        /*overflow-y: hidden;*/
      }
    </style>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body class="container">
    <h1 class="title">Rooms:</h1>
    <div id="room-container" class="columns">
      <% Object.keys(rooms).forEach(room => { %>
      <div class="card column" style="width: 100%; max-width: 100%">
        <div class="card-content">
          <div class="content">
            <p class="title is-4"><%= room %></p>
            <a href="<%= room %>">Click here to enter room</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <!-- <form action="/room" method="POST">
    <input name="room" type="text" required>
    <button type="submit">New Room</button>
  </form> -->
  </body>
</html>
